html{
    background-color: oldlace;
}
.header{
    position: absolute;
    width:100%;
    height:8%;
   background-color: black;
    border-bottom-color: darkgrey;
    border-bottom: 3%;
    
    
}
.contactContainer{
    right:5px;
    width:10%;
    
}
.space{
    height:10px;
}
    
    .logosize{
    height:5px;
     
    }

